<div 
  class="bg-rose fixed right-0 top-0 h-dvh w-full z-50 md:relative md:h-auto md:!block md:!opacity-100 md:bg-transparent md:w-full"
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-out duration-240"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-240"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0">
  <nav class="text-black md:w-full md:max-w-8xl md:mx-auto md:px-25 md:py-15">
    <a 
      href="/"
      title="Zurück zur Startseite"
      class="block md:hidden fixed right-25 top-25 z-60">
      {{ partial:icons/logo class="h-36 w-auto block" }}
    </a>
    <ul class="flex flex-col justify-center items-center w-full h-dvh md:h-auto md:flex-row md:justify-between md:w-full text-md md:text-sm leading-none">
      {{ nav:main }}
        {{ partial:menu/item }}
      {{ /nav:main }}
      <li>
        <a 
          href="/"
          title="Zurück zur Startseite"
          {{ if is_homepage }}
          class="hidden md:block transition-opacity duration-700 opacity-0"
          :class="{ 'opacity-0': !hasScrolled, 'opacity-100': hasScrolled }"
          x-data="{ hasScrolled: false }"
          x-init="window.addEventListener('scroll', () => { hasScrolled = window.pageYOffset > 200 })"
          {{ else }}
          class="hidden md:block"
          {{ /if }}
        >
          {{ partial:icons/logo class="md:h-36 xl:h-48 w-auto block" }}
        </a>
      </li>
    </ul>
  </nav>
</div>
