{{ if type == 'editor' }}
  {{ partial:components/editor }}
{{ /if }}

{{ if type == 'intro' }}
  {{ partial:components/misc/intro }}
{{ /if }}

{{ if type == 'video' }}
  {{ partial:components/media/video }}
{{ /if }}

{{ if type == 'projects' }}
  {{ partial:work/teaser/wrapper }}
{{ /if }}

{{ if type == 'about_us' }}
  {{ partial:components/misc/about }}
{{ /if }}

{{ if type == 'contact' }}
  {{ partial:components/misc/contact }}
{{ /if }}

{{ if type == 'team' }}
  {{ team_member }}
    {{ partial:components/misc/team-member }}
  {{ /team_member}}
{{ /if }}

{{ if type == 'accordion' }}
  {{ partial:components/misc/accordion }}
{{ /if }}

{{ if type == 'shop' }}
  <div id="myshop"></div>
  <script>
    var spread_shop_config= {
      "shopName" : "pandapinguin",
      "locale" : "de_DE",
      "prefix" : "//shop.spreadshirt.ch",
      "baseId" : "myshop"
  };
  </script> 
  <script type="text/javascript" src="//shop.spreadshirt.ch/shopfiles/shopclient/shopclient.nocache.js"></script>
{{ /if }}