<div class="mb-50 md:mb-75 xl:mb-100 last-of-type:!mb-0 py-50 md:py-75 xl:py-90">
  
  {{ if anchor }}
    <a name="{{ anchor }}" class="scroll-mt-50 md:scroll-mt-75 xl:scroll-mt-90"></a>
  {{ /if }}

  <h2 class="mx-auto max-w-8xl mb-15 md:mb-30 xl:mb-45 px-25 md:px-50 xl:px-75">
    {{ title }}
  </h2>

  <div x-data="{ selected: null }">
    {{ entries }}
      <style>
        .accordion-item-{{ index }}:hover,
        .accordion-item-{{ index }}.is-active {
          background-color: {{ background_color }};
          transition: background-color 0.2s ease;
        }
      </style>
      <div 
        data-accordion-index="{{ index }}"
        :class="{ 'is-active': selected === {{ index }} }"
        class="accordion-item-{{ index }} pb-15 md:pb-30 xl:pb-45">
        <button 
          type="button" 
          class="w-full text-left pt-15 md:pt-30 xl:pt-45"
          title="{{ title }}"
          @click="selected !== {{ index }} ? selected = {{ index }} : selected = null;">
          <div class="text-large mx-auto max-w-8xl px-25 md:px-50 xl:px-75">
            {{ title }}
          </div>
        </button>
        <div 
          class="relative overflow-hidden max-h-0 max-w-8xl mx-auto transition-all duration-200"
          x-ref="container{{ index }}" 
          x-bind:style="selected == '{{ index }}' ? 'max-height: ' + $refs.container{{ index }}.scrollHeight + 'px;' : ''">
          <div class="text-medium pt-10 xl:pt-20 px-25 md:px-50 xl:px-75">
            {{ text }}
          </div>
        </div>
      </div>
    {{ /entries }}
  </div>

</div>

