{{ partial:layout/inner }}
  
  {{ partial:layout/article }}
    <h1>Kontakt</h1>
    <div class="relative">
      <div class="mb-20 md:mb-40 xl:mb-60">
        {{ if contact:text }}
          {{ contact:text }}
        {{ /if }}
      </div>
      <address class="block not-italic">
        {{ if contact:name }}
          {{ contact:name }}<br>
        {{ /if }}
        {{ if contact:email }}
          <a 
            href="mailto:{{ contact:email }}"
            class="hover:text-cerise transition-colors block !no-underline"
            title="Schreib uns!">
            {{ contact:email }}
          </a>
        {{ /if }}
        {{ if contact:phone }}
          <a 
            href="tel:{{ contact:phone }}"
            class="hover:text-cerise transition-colors block !no-underline"
            title="Ruf uns an!">
            {{ contact:phone }}
          </a>
        {{ /if }}
        {{ if contact:address }}
          <a 
            href="https://maps.app.goo.gl/UpCxfZ8wjA9FToMm9" 
            target="_blank" 
            rel="noopener noreferrer"
            class="hover:text-cerise transition-colors block !no-underline" 
            title="Komm vorbei!">
            {{ contact:address | nl2br }}
          </a>
        {{ /if }}
        <div class="flex items-center gap-x-10 xl:gap-x-15 mt-15 xl:mt-30">
          {{ if social_media_accounts:instagram }}
            <a 
              href="{{ social_media_accounts:instagram }}"
              target="_blank" 
              rel="noopener noreferrer"
              class="block w-26 xl:w-42 h-auto hover:text-cerise transition-colors" 
              title="Folge uns auf Instagram!">
              {{ partial:icons/instagram class="w-full h-auto" }}
            </a>
          {{ /if }}
          {{ if social_media_accounts:linkedin }}
            <a 
              href="{{ social_media_accounts:linkedin }}"
              target="_blank" 
              rel="noopener noreferrer"
              class="block w-26 xl:w-40 h-auto hover:text-cerise transition-colors" 
              title="Folge uns auf LinkedIn!">
              {{ partial:icons/linkedin class="w-full h-auto" }}
            </a>
          {{ /if }}
        </div>
      </address>
      {{ if contact:imprint }}
        <div class="mt-40 md:mt-60 xl:mt-80 text-small [&_a]:!no-underline hover:[&_a]:text-cerise transition-colors">
          {{ contact:imprint }}
        </div>
      {{ /if }}
      {{ partial:icons/animation class="w-full h-auto absolute right-0 top-0 hidden sm:block sm:max-w-[240px] md:max-w-[300px] lg:max-w-[400px] xl:max-w-[460px]" }}
    </div>
  {{ /partial:layout/article }}

{{ /partial:layout/inner }}