{{ partial:layout/inner }}

  {{ partial:layout/article class="max-w-inner" }}
    {{ editor }}
  {{ /partial:layout/article }}

  <h1 class="mt-20 md:mt-35 xl:mt-50 mb-20 md:mb-30 xl:mb-40">
    Unsere Arbeiten:
  </h1>

  <div class="sm:grid sm:grid-cols-12">
    {{ projects }}
      {{ partial:work/teaser/item }}
    {{ /projects }}
  </div>
  
  <a 
    href="/arbeiten" 
    title="Weitere Projekte"
    class="block mt-15 md:mt-20 xl:mt-30 text-medium md:text-center hover:underline underline-offset-8 decoration-2">
    Weitere Arbeiten
  </a>

{{ /partial:layout/inner }}